In [1]:
import os
import findspark
findspark.init(os.getenv('SPARK_HOME'))
from pyspark.sql import SparkSession
from pyspark.ml.classification import LogisticRegression
from pyspark.ml import Pipeline
from pyspark.mllib.evaluation import MulticlassMetrics
from pyspark.sql.functions import isnan, when, count, col
from pyspark.ml.feature import VectorAssembler, VectorIndexer

In [2]:
spark = SparkSession.builder.appName("logreg_exercice").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/08/21 09:46:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/08/21 09:46:49 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [16]:
data = spark.read.csv("customer_churn.csv", inferSchema=True, header=True)
data.show()

+-------------------+----+--------------+---------------+-----+---------+-------------------+--------------------+--------------------+-----+
|              Names| Age|Total_Purchase|Account_Manager|Years|Num_Sites|       Onboard_date|            Location|             Company|Churn|
+-------------------+----+--------------+---------------+-----+---------+-------------------+--------------------+--------------------+-----+
|   Cameron Williams|42.0|       11066.8|              0| 7.22|      8.0|2013-08-30 07:00:40|10265 Elizabeth M...|          Harvey LLC|    1|
|      Kevin Mueller|41.0|      11916.22|              0|  6.5|     11.0|2013-08-13 00:38:46|6157 Frank Garden...|          Wilson PLC|    1|
|        Eric Lozano|38.0|      12884.75|              0| 6.67|     12.0|2016-06-29 06:20:07|1331 Keith Court ...|Miller, Johnson a...|    1|
|      Phillip White|42.0|       8010.76|              0| 6.71|     10.0|2014-04-22 12:43:12|13120 Daniel Moun...|           Smith Inc|    1|
|     Cynthia Norton|37.0|       9191.58|              0| 5.56|      9.0|2016-01-19 15:31:15|765 Tricia Row Ka...|          Love-Jones|    1|
|   Jessica Williams|48.0|      10356.02|              0| 5.12|      8.0|2009-03-03 23:13:37|6187 Olson Mounta...|        Kelly-Warren|    1|
|        Eric Butler|44.0|      11331.58|              1| 5.23|     11.0|2016-12-05 03:35:43|4846 Savannah Roa...|   Reynolds-Sheppard|    1|
|      Zachary Walsh|32.0|       9885.12|              1| 6.92|      9.0|2006-03-09 14:50:20|25271 Roy Express...|          Singh-Cole|    1|
|        Ashlee Carr|43.0|       14062.6|              1| 5.46|     11.0|2011-09-29 05:47:23|3725 Caroline Str...|           Lopez PLC|    1|
|     Jennifer Lynch|40.0|       8066.94|              1| 7.11|     11.0|2006-03-28 15:42:45|363 Sandra Lodge ...|       Reed-Martinez|    1|
|       Paula Harris|30.0|      11575.37|              1| 5.22|      8.0|2016-11-13 13:13:01|Unit 8120 Box 916...|Briggs, Lamb and ...|    1|
|     Bruce Phillips|45.0|       8771.02|              1| 6.64|     11.0|2015-05-28 12:14:03|Unit 1895 Box 094...|    Figueroa-Maynard|    1|
|       Craig Garner|45.0|       8988.67|              1| 4.84|     11.0|2011-02-16 08:10:47|897 Kelley Overpa...|     Abbott-Thompson|    1|
|       Nicole Olson|40.0|       8283.32|              1|  5.1|     13.0|2012-11-22 05:35:03|11488 Weaver Cape...|Smith, Kim and Ma...|    1|
|     Harold Griffin|41.0|       6569.87|              1|  4.3|     11.0|2015-03-28 02:13:44|1774 Peter Row Ap...|Snyder, Lee and M...|    1|
|       James Wright|38.0|      10494.82|              1| 6.81|     12.0|2015-07-22 08:38:40|45408 David Path ...|      Sanders-Pierce|    1|
|      Doris Wilkins|45.0|       8213.41|              1| 7.35|     11.0|2006-09-03 06:13:55|28216 Wright Moun...|Andrews, Adams an...|    1|
|Katherine Carpenter|43.0|      11226.88|              0| 8.08|     12.0|2006-10-22 04:42:38|Unit 4948 Box 481...|Morgan, Phillips ...|    1|
|     Lindsay Martin|53.0|       5515.09|              0| 6.85|      8.0|2015-10-07 00:27:10|69203 Crosby Divi...|      Villanueva LLC|    1|
|        Kathy Curry|46.0|        8046.4|              1| 5.69|      8.0|2014-11-06 23:47:14|9569 Caldwell Cre...|Berry, Orr and Ca...|    1|
+-------------------+----+--------------+---------------+-----+---------+-------------------+--------------------+--------------------+-----+
only showing top 20 rows

In [17]:
data.printSchema()

root
 |-- Names: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Total_Purchase: double (nullable = true)
 |-- Account_Manager: integer (nullable = true)
 |-- Years: double (nullable = true)
 |-- Num_Sites: double (nullable = true)
 |-- Onboard_date: timestamp (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Churn: integer (nullable = true)

In [18]:
len(data.collect())

900

In [19]:
data.columns

['Names',
 'Age',
 'Total_Purchase',
 'Account_Manager',
 'Years',
 'Num_Sites',
 'Onboard_date',
 'Location',
 'Company',
 'Churn']

In [20]:
len(data.select('Company').distinct().collect())

873

In [21]:
data = data.select('Age', 'Total_Purchase', 'Account_Manager', 'Years', 'Num_Sites', 'Churn')

In [22]:
data.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in data.columns]).show()

+---+--------------+---------------+-----+---------+-----+
|Age|Total_Purchase|Account_Manager|Years|Num_Sites|Churn|
+---+--------------+---------------+-----+---------+-----+
|  0|             0|              0|    0|        0|    0|
+---+--------------+---------------+-----+---------+-----+

In [24]:
assembler = VectorAssembler(inputCols=['Age', 'Total_Purchase', 'Account_Manager', 'Years', 'Num_Sites'], outputCol='features')

In [25]:
model = LogisticRegression(featuresCol="features", labelCol="Churn", predictionCol="prediction")

In [27]:
pipeline = Pipeline(stages=[assembler, model])

In [28]:
train, test = data.randomSplit([0.8, 0.2])

In [29]:
pipeline_fit = pipeline.fit(train)

In [30]:
results = pipeline_fit.transform(test)

In [31]:
results.show()

+----+--------------+---------------+-----+---------+-----+--------------------+--------------------+--------------------+----------+
| Age|Total_Purchase|Account_Manager|Years|Num_Sites|Churn|            features|       rawPrediction|         probability|prediction|
+----+--------------+---------------+-----+---------+-----+--------------------+--------------------+--------------------+----------+
|26.0|       8787.39|              1| 5.42|     11.0|    1|[26.0,8787.39,1.0...|[0.84520019743957...|[0.69955930605712...|       0.0|
|30.0|       7960.64|              1| 2.72|     10.0|    1|[30.0,7960.64,1.0...|[3.38056965057722...|[0.96709173933101...|       0.0|
|30.0|      10183.98|              1| 5.14|      9.0|    0|[30.0,10183.98,1....|[3.24463149380674...|[0.96247972306210...|       0.0|
|30.0|      10744.14|              1| 7.16|      9.0|    1|[30.0,10744.14,1....|[2.07492758322238...|[0.88844228260438...|       0.0|
|30.0|      11575.37|              1| 5.22|      8.0|    1|[30.0,11575.37,1....|[4.46645089328729...|[0.98864245982324...|       0.0|
|30.0|      12788.37|              0| 4.31|     10.0|    0|[30.0,12788.37,0....|[2.82530869350523...|[0.94402823420774...|       0.0|
|30.0|      13473.35|              0| 3.84|     10.0|    0|[30.0,13473.35,0....|[3.08520111136479...|[0.95627816111701...|       0.0|
|31.0|       8829.83|              1| 4.52|      8.0|    0|[31.0,8829.83,1.0...|[4.83067654958937...|[0.99208207409964...|       0.0|
|32.0|       9885.12|              1| 6.92|      9.0|    1|[32.0,9885.12,1.0...|[2.06681796066371...|[0.88763598135665...|       0.0|
|32.0|      13630.93|              0| 4.38|     10.0|    0|[32.0,13630.93,0....|[2.61338311007003...|[0.93171794305589...|       0.0|
|33.0|       7720.61|              1| 4.97|     10.0|    0|[33.0,7720.61,1.0...|[1.85216956407479...|[0.86438163348283...|       0.0|
|33.0|      13157.08|              1| 5.04|     10.0|    0|[33.0,13157.08,1....|[1.73013555955571...|[0.84942975898584...|       0.0|
|34.0|        9270.9|              0| 6.19|      7.0|    0|[34.0,9270.9,0.0,...|[5.34565530854828...|[0.99525380862737...|       0.0|
|34.0|      12813.91|              0| 2.41|      7.0|    0|[34.0,12813.91,0....|[7.46543206721329...|[0.99942778996562...|       0.0|
|35.0|        3825.7|              0| 4.28|      8.0|    0|[35.0,3825.7,0.0,...|[5.15736936228482...|[0.99427612742461...|       0.0|
|35.0|       7814.68|              1| 5.99|      9.0|    0|[35.0,7814.68,1.0...|[2.39410424797568...|[0.91637661667896...|       0.0|
|35.0|       8190.27|              0| 6.28|      7.0|    0|[35.0,8190.27,0.0...|[5.23066986179972...|[0.99467852917027...|       0.0|
|35.0|       9381.12|              1| 6.78|     11.0|    1|[35.0,9381.12,1.0...|[-0.6611134112323...|[0.34048954352824...|       1.0|
|35.0|       9766.95|              1| 4.59|     13.0|    1|[35.0,9766.95,1.0...|[-1.9853987966031...|[0.12074449864337...|       1.0|
|35.0|      11391.46|              1| 7.59|     10.0|    0|[35.0,11391.46,1....|[0.13172472133872...|[0.53288364596549...|       0.0|
+----+--------------+---------------+-----+---------+-----+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [33]:
model.evaluate(test)

AttributeError: 'LogisticRegression' object has no attribute 'evaluate'